.fotoperfil{
   margin-left:200px; 
   width:200px;
    right: 200px;
}

#titulo{
    padding-left: 50px;
    margin-left:200px;
    margin-right:200px;
    color:rgb(121, 116, 115);

    padding-bottom: 15px;
    border-bottom: 1px solid rgb(121, 116, 115);
   /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;*/
}

#subtitulo{
    padding-left:50px;
    margin-left:200px;
    margin-right:200px;
    color:rgb(121, 116, 115);
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(121, 116, 115);
}

#modificar{
    padding-left: 50px;
    margin-left:200px;
    margin-right:200px;
    color:#F9240B;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(121, 116, 115);
   
}

.Atributos{
    padding-left: 50px;
    margin-left:200px;
    margin-right:200px;
    color:#ff401c;
    font: 100% sans-serif;
}

.datos{
    padding-left:50px;
    margin-left:200px;
    margin-right:200px;
    color:#000;
    font: 150% sans-serif;
}

#rop{
    margin: gray 2px solid; 
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-left-width: 10px;
    justify-content: center;
}
#containerr{
    border: blue 2px solid ;
}

#contenido1{
    border: orangered 2px solid;
}